.settings {
  text-align: center;

  opacity: 1;
  visibility: visible;
  transition: opacity $transition-params, visibility $transition-params;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.settings__wrap {
  position: relative;
  margin-top: 50px;
}

.settings__submit {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}

// === Ancients start ===
.ancients__title {
  margin-bottom: 40px;

  font-family: $secondary-font;
  font-size: 28px;

  color: $secondary-text-color;
  text-shadow: $fire-text-shadow;
  opacity: 0.5;
}

.ancients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.ancient__thumb {
  width: 240px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: $black-box-shadow;
  transition: box-shadow $transition-params, transform $transition-params;

  .ancient__input:checked + & {
    box-shadow: $fire-box-shadow;
    transform: scale(1.1);
  }
}
// --- Ancients end ---

// === Difficulties start ===
.difficulties__title {
  margin-bottom: 30px;

  font-family: $secondary-font;
  font-size: 28px;

  color: $secondary-text-color;
  text-shadow: $fire-text-shadow;
  opacity: 0.5;
}

.difficulties__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.difficulty__name {
  font-size: 22px;

  color: $primary-text-color;
  text-transform: capitalize;
  text-shadow: $black-text-shadow;
  transition: text-shadow $transition-params, transform $transition-params;

  .difficulty__input:checked + & {
    text-shadow: $fire-text-shadow;
  }
}
// --- Difficulties end ---
