$primary-font: "Balsamiq Sans", cursive;
$secondary-font: "Rubik Wet Paint", cursive;
$text-color: hsl(0, 0%, 80%);

$green-color: #2b4d0f;
$brown-color: #a07006;
$blue-color: #394799;

$black-box-shadow: 5px 5px 15px 5px #000000;
$fire-box-shadow: 0 0 5px #ffffff, 0 -5px 15px #ff0000;
$black-text-shadow: 0px 2px 8px #000000, 0 8px 16px #000000;
$fire-text-shadow: 0 -1px 4px #ffffff, 0 -2px 8px #ff0000, 0 -8px 16px #ff0000,
  0 -16px 32px #ff0000;

$transition-params: 0.5s;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
