<ol class="stages__list">
  {{#each stages}}
    <li class="stage {{#if this.isEmpty}}stage--empty{{/if}}">
      <span class="stage__name">{{this.name}}:</span>
      <ul class="stage__items">
        <li class="stage__item">{{this.greenCards}}</li>
        <li class="stage__item">{{this.brownCards}}</li>
        <li class="stage__item">{{this.blueCards}}</li>
      </ul>
      <span class="stage__space"></span>
    </li>
  {{/each}}
</ol>
